@model IEnumerable<n01569183Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<form action="/Teacher/List" method="GET">
    <h4 id="advancedSettings">Advanced Search</h4>
    <label for="Name" class="spaced">Name</label>
    <input id="Name" type="text" name="SearchParam" />
    <label for="Salary">Salary</label>
    <input id="Salary" type="text" name="SalaryParam" />
    <label for="HireDate">Hire Date</label>
    <input for="HireDate" type="text" name="HireParam" />
    <input type="submit" value="Search" />

</form>
<p>Showing @Model.Count() results</p>
<hr/>
@foreach (var teacher in Model)
            {
                <p><a href="~/Teacher/Show/@teacher.Id">@teacher.FName @teacher.LName</a></p>
            }