@model IEnumerable<n01569183Cumulative1.Models.Teacher>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@{     <p>
        <input class="input-lg" />
        <button>Search</button>
    </p>
}

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.FName @item.LName
        </td>
    </tr>
}

</table>
